body{
	text-align: center;
}

.container{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.carousel-container {
	width: 70%;
	display: flex;
	justify-content: space-around;
}
.carousel-images {
	width: 80%;
}
.carousel-images img {
  width: 100%;
  border-radius: 10px;
  display: none;
}
.carousel-images img:first-of-type{
  display: block;
}
.carousel-button {
	align-self: center;
}
